{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Books</h3>
    </div>
    <div class="col">
      <form method="POST">
        {% csrf_token %}
        
          <div class="row">
            <div class="col-8">
              <input type="text" class="form-control" name="search_text" id="search_text" placeholder="Title/Author ...">
            </div>
            <div class="col-4">
              <button class="btn btn-info btn-sm">Search</button>
            </div>
          </div>
          
     
      </form>
    </div>
    <div class="col">
        <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newBookModal">New Book</a>

    </div>

</div>
<hr/>
      <div class="table-responsive small">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Genre</th>
              <th scope="col">Year</th>
              <th scope="col">Available</th>
              <th scope="col" colspan="3">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for book in page_obj %}
            <tr>
              <td>{{book.id}}</td>
              <td>{{book.title}}</td>
              <td>{{book.author}}</td>
              <td>{{book.genre}}</td>
              <td>{{book.year_published}}</td>
              <td>{{book.available_books}}</td>
              <td>
                <a href="#" class="btn btn-info btn-sm"><i class="bi bi-eye-fill"></i></a>
              </td>
              
              <td><a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editBookModal{{ book.id }}">
                <i class="bi bi-pencil-square"></i>
              </a></td>
              <td><a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteBookModal{{ book.id }}">
                <i class="bi bi-trash"></i>
              </a></td>
              
            {% include "books/edit_book.html" %}
            {% include "books/delete_book.html" %}
            </tr>
            {% endfor %}

          </tbody>
        </table>
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
      </div>
{% endblock content %}