<div
  class="modal fade"
  id="returnBookModal{{transaction.id}}"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-center">Return A Book</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        action="{% url 'return-book' %}"
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="modal-body">
          <div class="row mb-3">
            <div class="col">
              <label for="exampleInputPassword1" class="form-label"
                >Book Issue ID</label
              >
              <input
                type="number"
                class="form-control"
                name="transaction_id"
                id="transaction_id"
                value="{{transaction.id}}"
                readonly
                required
              />
            </div>
            <div class="col">
              <label for="exampleInputPassword1" class="form-label"
                >Book Issue Status</label
              >
              <input
                type="text"
                class="form-control"
                id="status"
                name="status"
                value="Returned"
                readonly
                required
              />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="exampleInputPassword1" class="form-label"
                >Return Fee</label
              >
              <input
                type="number"
                class="form-control"
                id="return_fee"
                name="return_fee"
                value="{{transaction.overdue_fee}}"
                readonly
                required
              />
            </div>
          </div>

          <div class="text-center mt-2">
            <button type="submit" id="submitButton" class="btn btn-primary">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
